/*-- scss:defaults --*/
$card-border-width: 0px !important;

/*-- scss:rules --*/
.bslib-value-box .value-box-area * {
    margin-bottom: 1px;
    margin-top: 0;
}

div.value-box-area span.observablehq--number {
    font-size: calc(clamp(.1em, 8cqw, 5em)* 1.25);
    line-height: 1.2;
    color: inherit;
    font-family: var(--bs-body-font-family);
}